    @if (employees.length > 0) {

    @for (employee of employees; track employee.id) {

        <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.salary }}</td>
                     <td><button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>

    }

} @else {

    <td colspan="5">No Employees Found.</td>

}