 <table class="table table-hover table-striped mb-0">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
           <tbody>

@if (employees.length > 0) {

    @for (employee of employees; track employee.id) {

        <app-employee-table-row
            [employee]="employee"
            (editEmployee)="onEditEmployee($event)"
            (deleteEmployee)="onDeleteEmployee($event)">
        </app-employee-table-row>

    }

} @else {

    <tr>
        <td colspan="5">No Employees Found.</td>
    </tr>

}

</tbody>
        </table>